/*--------------------------------------------------------------
# Error 403
--------------------------------------------------------------*/
.error-403 {
    padding: 30px;
}

.error-403 h1 {
    font-size: 180px;
    font-weight: 700;
    color: #e59865; /* Dark blue for the error code */
    margin-bottom: 0;
    line-height: 150px;
}

.error-403 h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2a4c86; /* Orange for the text to complement the error message */
    margin-bottom: 30px;
}

.error-403 .btn {
    background: #51678f; /* Dark blue for the button */
    color: #fff;
    padding: 8px 30px;
}

.error-403 .btn:hover {
    background: #3e4f6f; /* Darker blue for hover */
}

@media (min-width: 992px) {
    .error-403 img {
        max-width: 50%;
    }
}
